.search-part, .function-part{
    display: flex;
    flex-direction: column;
    padding-left: 20px ;
}
.search{
    margin-top: 20px;
    margin-bottom: 20px;
}
.search-bar{
    display: flex;
    justify-content:space-between;
    gap: 10px;
    height: 60px;
}
.search-bar>:first-child{
    flex: 7;
}
.search-bar>:last-child{
    flex: 3;
}
.function-list{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container{
    margin-top: 40px;
    padding-bottom: 100px;
    background-color: #0a0907;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 5px
}
.item, .table-header{
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #161412;
    border: none;
    transition: all 0.3s ease;
}
.item{
    cursor: pointer;
}

.item:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #E8B84B,
                0 0 20px #E8B84B,
                0 0 30px #E8B84B;
}
.item.selected{
    background-color: #E8B84B;

}
.item.selected .item-element p{
    color: #0a0907;
}
.item.selected .item-element{
    border-right: 1px solid #0a0907;
}

.item-element{
    padding-top: 10px;
    border-right: 1px solid #E8B84B;
    overflow-x: hidden;
}
.item-element p{
    white-space: nowrap;
}
.item-element:last-child, .item.selected .item-element:last-child, .table-header .item-element:last-child{
    border-right: none;
}

.table-header{
    background-color: #E8B84B;
}
.table-header .item-element{
    background-color: #E8B84B;
    border-right: 1px solid #0a0907;
}
.table-header .item-element p{
    color: #0a0907;
}


textarea {
    resize: none;
    overflow-y: auto;
}

@media(max-width: 1440px) {
    .item, .table-header{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .item>:nth-child(8), .table-header>:nth-child(8){
        display:none;
    }
    .item>:nth-child(7), .item.selected>:nth-child(7), .table-header>:nth-child(7){
        border-right: none;
    }
}
@media(max-width: 1200px) {
    .item, .table-header{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .item>:nth-child(7), .table-header>:nth-child(7){
        display:none;
    }
    .item>:nth-child(6), .item.selected>:nth-child(6), .table-header>:nth-child(6){
        border-right: none;
    }
}
@media(max-width: 1024px) {
    .item, .table-header{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .item>:nth-child(4), .table-header>:nth-child(4){
        display:none;
    }
}
@media(max-width: 768px) {
    .item, .table-header{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .item>:nth-child(4), .table-header>:nth-child(4){
        display:block;
    }
}
@media(max-width: 680px) {
    .item, .table-header{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .item>:nth-child(4), .table-header>:nth-child(4){
        display:none;
    }
}
@media(max-width: 520px) {
    .item, .table-header{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .item>:nth-child(6), .table-header>:nth-child(6){
        display:none;
    }
    .item>:nth-child(5), .item.selected>:nth-child(5), .table-header>:nth-child(5){
        border-right: none;
    }
}
@media(max-width: 375px) {
    .item, .table-header{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item>:nth-child(5), .table-header>:nth-child(5){
        display:none;
    }
    .item>:nth-child(3), .item.selected>:nth-child(3), .table-header>:nth-child(3){
        border-right: none;
    }
}
@media(max-width: 320px) {
    .item, .table-header{
        grid-template-columns: 1fr 1fr;
    }
    .item>:nth-child(1), .table-header>:nth-child(1){
        display:none;
    }
}