.return-container {
    padding: 20px;
    align-self: self-start;
}
.return {
    text-decoration: none;
    transition: color 0.3s ease;
}
.return:hover {
    text-shadow: 0 0 5px #E8B84B,
                 0 0 10px #E8B84B,  
                 0 0 20px #E8B84B;
}

.author-container{
    height: fit-content;
    width: 80%;
    padding: 40px;
    background-color: #161412;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 20px;
}

.author-main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.author-main-no-rating{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.name-and-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.author-image-container{
    flex: none;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    max-width: 300px;
    position: relative;
}
.author-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    position: absolute;
}

.author-text-container{
    padding-top: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.author-description{
    padding-top: 20px;
    border-top: 2px solid #E8B84B;
    flex: 3;
}

.author-stats-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 1px;
    background-color: #E8B84B;
}

.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #161412;
}

.author-raiting-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #E8B84B;
    border-radius: 5px;
    gap: 30px;
}
.rating-average{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 4;
    gap: 10px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #E8B84B ;
}
.rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.stars {
    display: flex;
    flex-direction: row-reverse; /* important trick */
    justify-content: center;
    flex: 1;
}
.stars input {
    display: none;
}
.stars label {
    font-size: 50px;
    color: none;
    -webkit-text-stroke: 1px #E8B84B;
    cursor: pointer;
}
.stars label:hover, .stars label:hover ~ label {
    color: #E8B84B;
}
.stars input:checked ~ label {
    color: #E8B84B;
}
.stars input:disabled + label {
    pointer-events: none;
}

.book-list-container{
    width: 80%;
    padding: 40px;
    background-color: #161412;
    border-radius: 5px;
}
.book-list{

    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 40px;
}
.book-image{
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 2/3;
    object-fit:cover;
}
.book{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 200px;
    flex: 0 0 auto;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.book:hover{
    transform: scale(1.05);
}
.book:hover .book-image{
    box-shadow: 0 0 10px #E8B84B,
                0 0 20px #E8B84B,
                0 0 30px #E8B84B;
}

@media (max-width: 1100px) {
    .author-main{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .author-raiting-container{
        flex-direction: row;
        gap:0;
    }
    .rating-average{
        flex: 1;
        border-right: 1px solid #E8B84B ;
        border-bottom: none;
        padding: 0px 0px 0px 0px;
    }
    .rating{
        flex: 1;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 0;
    }
}


@media (max-width: 550px) {
    .author-raiting-container{
        flex-direction: column;
        gap:30px;
    }
    .rating-average{
        border-bottom: 1px solid #E8B84B ;
        border-right: none;
        padding: 20px 0 20px 0;
    }
    .rating{
        justify-content: flex-start;
        padding-bottom: 20px;
        padding-top: 0px;
    }
}

@media (max-width: 510px) {
    .author-main-no-rating{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    }
    .author-stats-container{
        height: 300px;
    }
}
